* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #e0ab8c;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: 'comic sans ms';
  color: #0f0f0f;
}

.menu {
  float: right;
}
nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #e0ab8c;
  z-index: 1;
  border-bottom: 5px solid;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
  float: left;
}

nav ul li a:hover {
  text-decoration: underline;
}
section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
  margin-left: 20px;
}
.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: auto;
  font-family: 'comic sans ms';
  color: #af1e2f;
}
h2 {
  font-family: 'comic sans ms';
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #af1e2f;
  width: 100%;
  line-height: 50px;
}

a.tblform {
  background: #0f0e0d;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tblform:hover {
  background: #af1e2f;
  text-decoration: none;
}
a.tbljs {
  background: #0f0e0d;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbljs:hover {
  background: #af1e2f;
  text-decoration: none;
}
p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px;
}

.tengah {
  text-align: center;
  width: 100%;
}

.slides {
  width: 100%;
  position: relative;
}
.slides .slide {
  display: none;
}
.slides .slide img {
  width: 100%;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slides .navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slides .navigation .prev,
.slides .navigation .next {
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: 0.6s ease;
}
.slides .navigation .prev:hover,
.slides .navigation .next:hover {
  background: rgba(0, 0, 0, 1);
}
@keyframes fade {
  form {
    pacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .slides .navigation .prev,
  .slides .navigation .next:hover {
    font-size: 18px;
    padding: 13px;
  }
}
@media (max-width: 768px) {
  .slides .navigation .prev,
  .slides .navigation .next:hover {
    font-size: 15px;
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .slides .navigation .prev,
  .slides .navigation .next:hover {
    font-size: 12px;
    padding: 7px;
  }
}
@media (max-width: 360px) {
  .slides .navigation .prev,
  .slides .navigation .next:hover {
    font-size: 11px;
    padding: 6px;
  }
}
.form {
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  color: rgb(19, 10, 104);
}
